* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:where(body) {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    min-height: 100vh;
    background:rgb(248, 248, 249);
}

#ze-pos-login-container {
    margin: 0 auto;
    min-width: 60vw;
    max-width: 65vw;
    min-height: 60vh;
    overflow: scroll;
    position: relative;
}

#ze-pos-login-lock-icon {
    margin-top: 10vh;
    margin-bottom: 3vh;
    padding-left: 27vw;
    padding-right: 26vw;
    width: fit-content;
    height: fit-content;
}

#ze-pos-login-input {
    margin-left: 13vw;
    margin-right: 9vw;
    width: fit-content;
    height: fit-content;
    text-align: center; 
}

#ze-pos-login-num-input {
    margin-bottom: 3vh;
    width: 7vw;
    background:rgb(248, 248, 249);
    border:1px solid rgb(248, 248, 249);
    font-size: 7vw;
    font-weight: 600;
}

#ze-pos-login-info-text {
    margin-bottom: 3vh;
    padding-left: 9vw;
    padding-right: 1vw;
    width: fit-content;
    height: fit-content;
    font-size: 2.84vw;
    letter-spacing: 0.15vw;
    font-weight: 60;
}

#ze-pos-login-keyboard {
    margin-bottom: 3vh;
    height: fit-content;
    width: fit-content;
    padding-left: 5.2vw;
    padding-right: 5.2vw;
}

#ze-pos-login-input-number-1,
#ze-pos-login-input-number-2,
#ze-pos-login-input-number-3,
#ze-pos-login-input-number-4,
#ze-pos-login-input-number-5,
#ze-pos-login-input-number-6,
#ze-pos-login-input-number-7,
#ze-pos-login-input-number-8,
#ze-pos-login-input-number-9,
#ze-pos-login-input-number-0 {
    margin: 3.2vw;
    padding: 2.4vw;
    width: 10vw;
    border-radius: 100vw;
    border:1px solid rgb(248, 248, 249);
    background-color: rgb(219, 218, 218);
    font-weight: 600;
    font-size: 4vw;
    cursor: pointer;
}

#ze-pos-login-input-number-remove {
    margin: 3.2vw;
    padding: 2.4vw;
    width: 10vw;
    border-radius: 100vw;
    border:1px solid rgb(250, 250, 250);
    background-color: rgb(250, 250, 250);
    color: rgb(119, 117, 117);
    cursor: pointer;
}

#ze-pos-login-input-number-1:active,
#ze-pos-login-input-number-2:active,
#ze-pos-login-input-number-3:active,
#ze-pos-login-input-number-4:active,
#ze-pos-login-input-number-5:active,
#ze-pos-login-input-number-6:active,
#ze-pos-login-input-number-7:active,
#ze-pos-login-input-number-8:active,
#ze-pos-login-input-number-9:active,
#ze-pos-login-input-number-0:active {
    background-color: rgb(152, 152, 152);
}

#ze-pos-login-input-number-number-x {
    margin: 3.2vw;
    padding: 2.4vw;
    width: 10vw;
    border:1px solid rgb(248, 248, 249);
    background-color: rgb(248, 248, 249);
}

#ze-pos-login-input-login-button {
    margin-top: 3vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 4vw;
    padding-top: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
    width: 40vw;
    height: fit-content;
    border-radius: 3vw;
    border:1px solid rgb(248, 248, 249);
    color: rgb(113, 113, 113);
    background-color: rgb(232, 232, 233);
    font-weight: 100;
    font-size: 3vw;
    letter-spacing: 0.15vw;
}